@inject FDevs.Services.UsuarioService.IUsuarioService userService
@{
    var usuario = await userService.GetUsuarioLogado();
}

<!DOCTYPE html>
<html lang="pt-br" class="min-vh-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/icons/favicon.png">
    <title>
        UPPER - @ViewData["Title"]
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/material-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="g-sidenav-show bg-gray-200" class="min-vh-100">
    <aside
        class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
        id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0 text-center" asp-controller="Admin" asp-action="Index">
                <img src="~/img/Logo/mini_fdevs.png" class="navbar-brand-img" alt="main_logo">
            </a>
        </div>

        <hr class="horizontal light mt-0 mb-3">

        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class='nav-link text-white @(ViewData["Title"].ToString() == "Admin" ? "active bg-gradient-success" : "") '
                        asp-controller="Admin" asp-action="Index">
                        <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                            <i class='bx bxs-home-alt-2'></i>
                            <span class="nav-link-text ms-2">Admin</span>
                        </div>
                    </a>
                </li>
                <li class='nav-item' data-bs-toggle="collapse" href="#Educacao" role="button" aria-expanded="false"
                    aria-controls="Educacao">
                    <a class='nav-link text-white dropdown-toggle' href="#" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-white d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">book</i>
                            <span class="nav-link-text ms-2">Educação</span>
                        </div>
                    </a>
                </li>
                <ul class="list-unstyled collapse multi-collapse @(ViewData["Title"].ToString() == "Trilhas" || ViewData["Title"].ToString() == "Cursos" || ViewData["Title"].ToString() == "Módulos" || ViewData["Title"].ToString() == "Vídeos" ? "show" : "")"
                    id="Educacao">
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Trilhas" ? "active bg-gradient-success" : "")'
                            asp-controller="Trilhas" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Trilhas</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Cursos" ? "active bg-gradient-success" : "")'
                            asp-controller="Cursos" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Cursos</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Módulos" ? "active bg-gradient-success" : "") '
                            asp-controller="Modulos" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Módulos</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Vídeos" ? "active bg-gradient-success" : "") '
                            asp-controller="Videos" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Vídeos</span>
                            </div>
                        </a>
                    </li>
                </ul>

                <li class='nav-item @(ViewData["Title"].ToString() == "Prova" || ViewData["Title"].ToString() == "Questões" || ViewData["Title"].ToString() == "Alternativas" ? "show" : "")'
                    data-bs-toggle="collapse" href="#avaliacoes" role="button" aria-expanded="false"
                    aria-controls="avaliacoes">
                    <a class='nav-link text-white dropdown-toggle' href="#" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-white d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">school</i>
                            <span class="nav-link-text ms-2">Avaliações</span>
                        </div>
                    </a>
                </li>
                <ul class="list-unstyled collapse multi-collapse @(ViewData["Title"].ToString() == "Prova" || ViewData["Title"].ToString() == "Questões" || ViewData["Title"].ToString() == "Alternativas" ? "show" : "")"
                    id="avaliacoes">
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Prova" ? "active bg-gradient-success" : "") '
                            asp-controller="Provas" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Prova</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Questões" ? "active bg-gradient-success" : "") '
                            asp-controller="Questoes" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Questões</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Alternativas" ? "active bg-gradient-success" : "") '
                            asp-controller="Alternativas" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Alternativas</span>
                            </div>
                        </a>
                    </li>

                </ul>

                <li class='nav-item' data-bs-toggle="collapse" href="#OutrosCadastros" role="button"
                    aria-expanded="false" aria-controls="OutrosCadastros">
                    <a class='nav-link text-white dropdown-toggle' href="#" type="button" id="dropdownMenuButton3"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-white d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">table_view</i>
                            <span class="nav-link-text ms-2">Cadastros Auxiliares</span>
                        </div>
                    </a>
                </li>
                <ul class="list-unstyled collapse multi-collapse @(ViewData["Title"].ToString() == "Estado de conclusão" ? "show" : "")"
                    id="OutrosCadastros">
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Estado de conclusão" ? "active bg-gradient-success" : "") '
                            asp-controller="Estados" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Estado de conclusão</span>
                            </div>
                        </a>
                    </li>

                </ul>
                <li class='nav-item' data-bs-toggle="collapse" href="#Usuarios" role="button" aria-expanded="false"
                    aria-controls="Usuarios">
                    <a class='nav-link text-white dropdown-toggle' href="#" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="text-white d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">person</i>
                            <span class="nav-link-text ms-2">Usuários</span>
                        </div>
                    </a>
                </li>
                <ul class="list-unstyled collapse multi-collapse @(ViewData["Title"].ToString() == "Acertos" || ViewData["Title"].ToString() == "Cursos dos usuários" || ViewData["Title"].ToString() == "Respostas" ? "show" : "")"
                    id="Usuarios">
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Cursos dos usuários" ? "active bg-gradient-success" : "") '
                            asp-controller="UsuarioCursos" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Associar usuário a curso</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Respostas" ? "active bg-gradient-success" : "") '
                            asp-controller="Respostas" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Respostas dos Usuários</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link text-white @(ViewData["Title"].ToString() == "Acertos" ? "active bg-gradient-success" : "") '
                            asp-controller="Acertos" asp-action="Index">
                            <div class="text-white ps-2 d-flex align-items-center justify-content-center">
                                <span class="nav-link-text ms-2">Acertos dos usuários</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="sidenav-footer position-absolute w-100 bottom-0 ">
                    <form asp-action="Logout" asp-controller="Account" method="POST" class="mx-3">
                        <button type="submit" class="btn bg-gradient-danger w-100">
                            <i class="material-icons opacity-10">logout</i>
                            Sair
                        </button>
                    </form>
                </div>
    </aside>
    <main class="main-content border-radius-lg d-flex flex-column min-vh-100">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            data-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-dark" href="javascript:;">
                                Página
                            </a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">@ViewData["Title"]</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    </div>
                    <div class="collapse navbar-collapse " id="navbar">
                        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        </div>
                        <div class="nav-item dropdown me-2">
                            <button class="nav-link text-white dropdown-toggle border-0" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src='@(usuario.Foto ?? Url.Content("~/img/usuarios/no-photo.png"))' width="40"
                                    height="40" class="object-fit-cover rounded-circle">
                                <span class="d-sm-inline d-none text-dark fw-bold">@usuario.Nome</span>
                            </button>
                            <ul class="dropdown-menu" style="position:absolute !important; width:250px">
                                @if (usuario.IsAdmin)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Home">
                                            <i class="bi bi-house"></i> Acessar Área Pública
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-action="Index" asp-controller="Admin">
                                            <i class="bi bi-receipt"></i> Acessar Área Administrativa
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a class="dropdown-item" asp-controller="Perfil" asp-action="Edit"
                                        asp-route-id="@usuario.UsuarioId">
                                        <i class="bi bi-person-bounding-box"></i> Meu Perfil
                                    </a>
                                </li>
                                <li>
                                    <form method="POST" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="dropdown-item aling-middle">
                                            <i class="bi bi-door-closed"></i> Sair
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid pt-4 pe-3 flex-grow-1">
            @RenderBody()
        </div>
        <footer class="footer pb-2 w-100">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col mb-lg-0 mb-4">
                        <div class="copyright text-center text-sm text-muted">
                            ©
                            @DateTime.Now.Year,
                            desenvolvido por <a href="https://www.github.com/matheuskrs" class="font-weight-bold"
                                target="_blank"> Matheus Kauan Rodrigues de Souza
                            </a>
                            com template de
                            <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative
                                Tim</a>.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <!--   Core JS Files   -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="~/assets/js/site.js"></script>
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
    <partial name="_SuccessNotification"></partial>
    <partial name="_WarningNotification"></partial>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>