@model FDevs.ViewModels.HomeVM
@{
    ViewData["Title"] = "FDevs 2024";
}

<div class="d-flex justify-content-center">
    <div class="container">
        <section class="left" id="cursos">
            <div class="d-flex container justify-content-center p-0 m-0 pt-4">
                <ul class="row optionsRow w-100 m-0 p-0">
                    <a href="#cursos" class="col-3 btn text-center chosen btnCategory" onclick="changeBtn(this)">
                        Meus cursos
                    </a>
                    <a href="#trilhas" class="col-3 btn text-center btnCategory" onclick="changeBtn(this)">
                        Minhas trilhas
                    </a>
                </ul>
            </div>
            <div class="owl-carousel owl-theme d-flex flex-nowrap">
                @foreach (var usuarioCurso in Model.Cursos)
                {
                    var qtdVideos = 0;
                    var qtdVideosConcluidos = 0;
                    var estadoCurso = Model.Progresso.UsuarioEstadoCursos
                    .FirstOrDefault(uec => uec.CursoId == usuarioCurso.CursoId && uec.UsuarioId == ViewBag.User.UsuarioId);
                    var primeiroVideo = Model.Videos
                    .FirstOrDefault(v => v.Modulo?.CursoId == usuarioCurso.CursoId)?.Id;

                    @foreach (var modulo in usuarioCurso.Curso.Modulos)
                    {
                        @foreach (var video in modulo.Videos)
                        {
                            qtdVideos++;
                            var usuarioEstadoVideo = Model.Progresso.UsuarioEstadoVideos
                            .FirstOrDefault(uev => uev.VideoId == video.Id && uev.UsuarioId == ViewBag.User.UsuarioId);
                            if (usuarioEstadoVideo?.EstadoId == 2)
                            {
                                qtdVideosConcluidos++;
                            }
                        }
                    }

                    var progressoCurso = qtdVideos > 0 ? Math.Round((double)qtdVideosConcluidos / qtdVideos * 100) : 0;

                    <div class="item curso">
                        <div class="card m-3" style="width: 15rem;">
                            <img src="@usuarioCurso.Curso.Foto" class="card-img-top" width=237 height=140 alt="...">
                            <div class="progress-modulo-container p-0 w-100">
                                <div class="progress-modulo p-0">
                                    <div class="bar d-flex justify-content-center align-items-center text-bold fs-6"
                                         style="width:@(progressoCurso > 0 ? progressoCurso : 10)%; background-color:@(progressoCurso > 0 ? "#17988f" : "transparent")">
                                        <span class="@(progressoCurso > 0 ? "text-white" : "text-dark")">@(progressoCurso > 0 ? $"{progressoCurso}%" : "0%")</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-start row">
                                <span class="ms-2 fs-7 btn-sm text-dark text-bold tags"
                                      style="background-color:@estadoCurso.Estado.Cor">@estadoCurso.Estado.Nome</span>
                                <h6 class="card-title mt-2 text-nowrap">@usuarioCurso.Curso.Nome</h6>
                            </div>
                            <hr class="itemHr">
                            <a asp-action="Details" asp-route-id="@usuarioCurso.Curso.Id" asp-route-videoid="@primeiroVideo"
                               class="col-12 btn startBtn">Começar</a>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="right d-flex">
            <div class="row">
                <div class="container-fluid">
                    <div class="align-center w-100 py-4 mb-4" style="border-bottom: 2px solid gainsboro;">
                        <span class="p-4 w-100 fs-5">Meu progresso</span>
                    </div>
                    <div>
                        <div class="justify-content-center row m-0 p-0">
                            <span class="col-12 text-center">Inscrito em</span>
                            <p class="col-12 text-bold text-center fs-2 m-0">@Model.Progresso.QtdCursos</p>
                            <span class="col-12 text-center mb-3">cursos</span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mx-3">
                    @if (Model.Progresso.QtdCursos > 0)
                    {
                        <div class="progress-container p-0 w-90">
                            <div class="progress p-0">
                                <div class="bar green d-flex justify-content-center align-items-center text-bold fs-6"
                                     style="width:@Model.Progresso.ProgressoVerde%;">
                                    @(Model.Progresso.ProgressoVerde > 0 ? $"{Math.Round((double)Model.Progresso.QtdConcluido / (double)Model.Progresso.QtdCursos * 100)}%" : "")
                                </div>
                                <div class="bar yellow d-flex justify-content-center align-items-center text-bold fs-6"
                                     style="width:@Model.Progresso.ProgressoAmarelo%;">
                                    @(Model.Progresso.ProgressoAmarelo > 0 ? $"{Model.Progresso.ProgressoAmarelo}%" : "")
                                </div>
                                <div class="bar red d-flex justify-content-center align-items-center text-bold fs-6 text-white"
                                     style="width:@Model.Progresso.ProgressoVermelho%;">
                                    @(Model.Progresso.ProgressoVermelho > 0 ? $"{Model.Progresso.ProgressoVermelho}%" : "")
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex p-4">
                    @foreach (var estado in Model.Estados)
                    {
                        <span class="stateText fw-bold mx-1 align-items-center d-flex">
                            <i class='bx bxs-checkbox-minus fs-3 m-0' style="color:@estado.Cor"></i>
                            @estado.Nome
                        </span>
                    }
                </div>
            </div>
        </section>

        <section class="bottom" id="trilhas">
            <div class="align-center d-flex w-100" style="border-bottom: 2px solid gainsboro;">
                <span class="p-4 w-100 fs-5">Trilhas</span>
            </div>
            <div class="owl-carousel owl-theme d-flex flex-nowrap mx-1">
                @foreach (var trilha in Model.Trilhas)
                {
                    <div class="item">
                        <div class="card m-3" style="width: 15rem;">
                            <img src="@trilha.Foto" class="card-img-top" width=237 height=140 alt="...">
                            <div class="card-body d-flex justify-content-start row">
                                <h6 class="card-title col-12 mt-2">@trilha.Nome</h6>
                            </div>
                            <hr class="itemHr">
                            <a href="#" class="col-12 btn startBtn">Começar</a>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css">
}
