@model FDevs.ViewModels.ProvaVM
@{
    ViewData["Title"] = "FDevs - 2024";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-success shadow-dark border-radius-lg pt-4 pb-3">
                    <h4 class="text-white text-capitalize ps-3">@Model.QuestaoAtual.Prova.Nome</h4>
                    <h6 class="text-white text-capitalize ps-3">Prova</h6>
                </div>
            </div>

            <div class="card-body pb-2">
                <form asp-action="Create" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <h5>@Model.QuestaoAtual.Texto</h5>
                        <input type="hidden" asp-for="Resposta.UsuarioId" value="@ViewBag.User.UsuarioId" />
                        <input type="hidden" asp-for="Resposta.QuestaoId" value="@Model.QuestaoAtual.Id" />
                        <ul>
                            <div class="row">
                                @foreach (var alternativa in Model.QuestaoAtual.Alternativas)
                                {
                                    <div class="form-check" >
                                        <input class="form-check-input "  type="radio"
                                            name="Resposta.AlternativaId" id="alternativa_@alternativa.Id"
                                            value="@alternativa.Id" @(Model.Resposta != null && Model.Resposta.AlternativaId == alternativa.Id ? "checked" : "") />

                                        <label class="form-check-label" for="alternativa_@alternativa.Id">
                                            @alternativa.Texto
                                        </label>
                                    </div>
                                }
                            </div>
                        </ul>
                        <span asp-validation-for="Resposta.AlternativaId" class="text-danger text-sm"></span>
                        <div class="row">
                            <div class="col text-start">
                                @if (Model.QuestaoAnterior != null)
                                {
                                    <div class="pb-3">
                                        <a asp-action="Index" asp-route-id="@Model.Prova.Id"
                                            asp-route-questaoid="@Model.QuestaoAnterior.Id"
                                            class="btn btn-success me-3 text-white">Questão anterior</a>
                                    </div>
                                }
                            </div>
                            <div class="col text-end">
                                @if (Model.ProximaQuestao != null)
                                {
                                    <div class="pb-3">
                                        <input type="submit" value="Próxima questão" class="btn btn-success me-3" />
                                    </div>
                                }@if(Model.ProximaQuestao == null){
                                    <div class="pb-3">
                                        <input type="submit" value="Finalizar Prova" class="btn btn-success me-3" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
